<h2>編輯課程</h2>
<%= form_for @course do|f|%>
<div>
	課程名稱
	<%=f.text_field :name%>
</div>

<div>
	授課教師
	<%=f.text_field :teacher%>
</div>

<div>
	上課地點
	<%=f.text_field :classroom%>
</div>

<div>
	上課時間
	<%=f.text_field :time%>
</div>
		
<div>
	學分數目
	<%=f.text_field :credit%>	
</div>

	<%=f.submit%>
	<%end%>



